/* Buttons */

.add-button {
    background-color: #BE2F2E;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

button {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #BE2F2E;
    color: white;
    font-size: 18px;
    padding: 8px 20px;
    border: none;
    cursor: pointer;
    width: 25%;
    display: block;
    margin: 0 auto;
    border-radius: 4px;

  }
  
  button:hover {
    opacity: 0.8;
  }


/* End Buttons */


.login-banner {
    background-image: url('../img/MP_Restaurant_01_Black.jpg');
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-position: center center;
    background-size: cover;
}

.login-background {
    background: white;
    width: 500px;
    height: 500px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    
}

.login-header {
    background: black;
    width: 100%;
    height: 160px;
}

.login-logo {
    display: block;
    height: 95px;
    margin: 0 auto;
    padding: 2px 0 0 0;
}

.add-button-area{
    display: block;
    margin: 20px 68px;
}


.table-header {
width: 100%;
}

  input[type=text], input[type=password] {
    width: 60%;
    padding: 12px 20px;
    margin: 25px auto;
    display: flex;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  .container {
    padding: 16px;
  }

  .login-banner {
    background-image: url('../img/MP_Restaurant_01_Black.jpg');
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-position: center center;
    background-size: cover;
}

.register {
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-align: center; 
    font-size: 20px;
}